<a href="https://colab.research.google.com/github/AyoubDSK/TAL2021_Cherguelaine/blob/main/Cours_1__Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python

Le langage de programmation Python a été créé en 1989 par Guido van Rossum, aux Pays-Bas. Le nom Python vient d’un hommage à la série télévisée Monty Python dont G. van Rossum est fan. La première version publique de ce langage a été publiée en 1991.

La dernière version de Python est la version 3. Plus précisément, la version 3.7 a été publiée en juin 2018.

### Python est un langage interprété
Chaque ligne de code est lue puis interprétée afin d’être exécutée par l’ordinateur.

## 1. Structures de données primitives

Les différents types des données primitives en python sont: Integer, boolean, float et String.

In [1]:
# Floats
x = 9.0
y = 2.0
# Addition
print(x + y)
# Subtraction
print(x - y)
# Multiplication
print(x * y)
# Returns the quotient
print(x / y)
# Returns the remainder
print(x % y) 
# Absolute value
print(abs(x))
# x to the power y
print(x ** y)

11.0
7.0
18.0
4.5
1.0
9.0
81.0

In [ ]:
#string
x = 'Cake'
y = 'Cookie'
print(x + ' and ' + y)

Cake and Cookie

### Nommage des variables

Le nom des variable en Python peut-être constitué de lettres minuscules (a à z), de lettres majuscules (A à Z), de nombres (0 à 9) ou du caractère souligné (_).

Néanmoins, un nom de variable ne doit pas débuter ni par un chiffre, ni par $.. et ne peut pas contenir de caractère accentué. Il faut absolument éviter d’utiliser un mot “réservé” par Python comme nom de variable (par exemple : print, range, for, from, etc.).

Python est sensible à la casse, ce qui signifie que les variables TesT, test ou TEST sont différentes. Enfin, vous ne pouvez pas utilisez d’espace dans un nom de variable.

## Opérations
### Opérations sur les types numériques

Les quatre opérations de base se font de manière simple sur les types numériques (nombres entiers et réels) :

In [ ]:
x = 45
print( x + 2)
y = 2.5
print(x + y)
print((x * 10) / y)

47
47.5
180.0

L’opérateur puissance utilise le symbole **. Pour obtenir le reste d’une division entière, on utilise le symbole modulo %

In [ ]:
print(2**3)
print(5 % 4)
print( 8 % 4)

8
1
0

### Opérations sur les chaînes de caractères
Pour les chaînes de caractères, deux opérations sont possibles, l’addition et la multiplication

In [ ]:
chaine = " Salut"
print(chaine)
print(chaine + " Python")
print(chaine * 3)

 Salut
 Salut Python
 Salut Salut Salut

### Conditions de test
equals x==42

not equal x!=42

greater than x>42

greater or equal to x>=42

less than x<42

less or equal to x<=42

In [ ]:
### Un simple if test. Comment utiliser les conditions
age=42
if age<= 52:
    print(" you can vote!")

 you can vote!

In [ ]:
age=17
if age>= 18:
    print(" you can vote!")
else:
    print("No vote for you")

No vote for you

In [ ]:
age=42
if age>= 4:
    ticket_price=0
elif age<18:
    ticket_price=10
else:
    ticket_price=15
      
print(" ticket_price=",ticket_price)

 ticket_price= 0

### La fonction type()

La fonction type() renvoie le type d’une variable.

In [ ]:
x=6.0
y=2
print(type(x))
print(type(y))

<class 'float'>
<class 'int'>

In [ ]:
x = 2
print(type(x))
y = 2.0
print(type(y))
z = '2'
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

### Conversion de types
On est souvent amené à convertir les types, par exemple passer d’un type numérique à une chaîne de caractères ou vice-versa. En Python, il suffit d'utiliser les fonctions int(), float() et str():

In [ ]:
i = 3
print('String =',type(str(i)))

i = '456'
print( 'Float =',type(float(i)))
#print( 'Integer =',int(i))

String = <class 'str'>
Float = <class 'float'>

### Affichage
La fonction print()  permet d’afficher une chaîne de caractères

In [ ]:
x = 32
nom = 'Nassima'
print(nom , 'a ' , x , ' ans')

Nassima a  32  ans

In [ ]:
#imprimer une chaine de caractère
ani1 = 'chat'
ani2 = 'souris'
print(ani1, ani2)
print(ani1 + ani2)
print(ani1 +' '+ ani2)

chat souris
chatsouris
chat souris

### Écriture formatée

La méthode .format() permet une meilleure organisation de l’affichage des variables.

In [ ]:
x = 22
nom = 'Soumeya'
#les accolades vides {} précisent l’endroit où le contenu de la variable doit être inséré
#l’instruction .format(nom, x) indique la liste des variables à insérer,
print('{} a {} ans'.format(nom, x))

Soumeya a 22 ans

In [ ]:
print('{1} a {0} ans'.format(nom, x))

22 a Soumeya ans

In [ ]:
propGC = (4500 + 2575) / 14800
print("La proportion de GC est", propGC)
print("La proportion de GC est {:.2f}".format(propGC))
print("La proportion de GC est {:.5f}".format(propGC))

La proportion de GC est 0.4780405405405405
La proportion de GC est 0.48
La proportion de GC est 0.47804

In [ ]:
nbG = 450
print("Le barile {:f} litres".format(nbG))

Le barile 450.000000 litres

In [ ]:
# Le signe \ en fin de ligne permet de poursuivre la commande sur la ligne suivante
print("Ce barile contient {:f} L et {:d} boites" \
    .format(propGC,nbG))

Ce barile contient 0.478041 L et 450 boites

In [ ]:
#le caractère ; sert de séparateur entre les instructions sur une même ligne
print("{:d}".format(10))  ; print("{:d}".format(1000))

10
1000

In [ ]:
#Ancienne méthode de formatage
x = 32
nom = 'John'
print("%s a %d ans" % (nom,x))

John a 32 ans

In [ ]:
#Lire les variables saisies à partir du clavier. Les variables saisies sont des String
name = input("What's your name? ")
print("Hello, " + name + "!")

What's your name? samira
Hello, samira!

In [2]:
#Prompting numeric data
age = input("How old are you? ")
age = int(age)
type(age)

How old are you? 21

int

In [ ]:
x=True #False
type(x)

bool

## 2. Structures de données non-primitives

###  2.1. Liste : 
Une liste est une structure de données qui contient une série de valeurs. Python autorise la construction de liste contenant des valeurs de différents types (par exemple entier et chaîne de caractères), ce qui leur confère une grande flexibilité.

In [ ]:
#Créer une liste
bikes =['trek', 'redline','giant']
tailles = [5, 2.5, 1.75, 0.15]
mixte = ['girafe', 5, 'souris', 0.15]
#Affichage du contenu 
print(bikes)
print(tailles)
print(mixte)

['trek', 'redline', 'giant']
[5, 2.5, 1.75, 0.15]
['girafe', 5, 'souris', 0.15]

In [ ]:
#Récupérer le premier élément de la liste
first_bike=bikes[0]
first_bike2=bikes[2]
#Affichage du contenu 
print(first_bike)
first_bike2

trek

'giant'

In [ ]:
print(bikes)
#Récupérer le dernier élément de la liste
last_item=bikes[-1]
last_item

['trek', 'redline', 'giant']

'giant'

In [ ]:
#Copier une liste 
copy_of_bikes = bikes[:]
print(bikes)
print(copy_of_bikes )

['trek', 'redline', 'giant']
['trek', 'redline', 'giant']

In [ ]:
#Ajouter un élèment à une liste
bikes = []
bikes.append('trek')
bikes.append('redline')
bikes.append('giant')
#Affichage
bikes

['trek', 'redline', 'giant']

In [ ]:
#Trancher une liste 
bikes2 =['trek', 'redline','giant','giant1','giant2']
#Récupérer les deux premiers élèments de la liste
deux_premier_bike=bikes[:3]
#Affichage du contenu 
deux_premier_bike

['trek', 'redline', 'giant']

In [ ]:
#Récupérer les deux élèments du milieu
middle_bike=bikes[1:4]
middle_bike

['redline', 'giant']

In [ ]:
#Récupérer les deux derniers élèments 
derniers_bike=bikes[-3:]
derniers_bike

['trek', 'redline', 'giant']

In [ ]:
#Simple Statistiques
ages=[93,25,44,11,45,75,88,96,85]
print('youngest =',min(ages))
print('oldest = ',max(ages))
print('total_années =',sum(ages))

youngest = 11
oldest =  96
total_années = 562

In [ ]:
#Supprimer un élément de la liste
b=['red','yellow','green','blue','purple']
print(b)
#Supprimer le dernier élément  de la liste
copy1=b.pop()
print('élèment supprimer=',copy1)
print(b)

['red', 'yellow', 'green', 'blue', 'purple']
élèment supprimer= purple
['red', 'yellow', 'green', 'blue']

In [ ]:
#Supprimer un élément par son index avec del
del b[1] 
#b.pop(1)
b

['red']

### Tuple
Les tuples correspondent aux listes à la différence qu’ils sont non modifiables.

In [ ]:
#Définition d'un tuple
dimensions=(800,600,500,400)
#Ecraser un tuple
print('dimensions',dimensions)

dimensions (800, 600, 500, 400)

### Dictionnary
Les dictionnaires se révèlent très pratiques lorsque vous devez manipuler des structures complexes à décrire et que les listes présentent leurs limites. Les dictionnaires sont des collections non ordonnées d’objets. Chaque information dans un dictionnaire est stockée sous forme d'une paire clé-valeur. Pour chaque clé fournie, python renvoie la valeur associée
à une clé.

In [ ]:
#création d'un dictionnaire
alien_0 = {'color': 'green', 'points': 5}
alien_0

{'color': 'green', 'points': 5}

In [ ]:
#Récupérer une valeur par sa clé
alien_0 = {'color': ['green','blue'], 'points': 5}
print(alien_0['color'])
print(alien_0['points'])

['green', 'blue']
5

In [ ]:
#Récupérer une valeur par get()
alien_0 = {'color': ['green','blue','yellow']}
alien_color = alien_0.get('color')
print(alien_color)

['green', 'blue', 'yellow']

In [ ]:
#Ajouter une clé-valeur 
alien_0= {'color': 'green', 'points': 5}
alien_0['x'] = 0
alien_0['y'] = 25
alien_0['speed'] = 1.5
print(alien_0)

{'color': 'green', 'points': 5, 'x': 0, 'y': 25, 'speed': 1.5}

In [ ]:
#Ajouter une clé-valeur à un dictionnaire vide
alien_0 = {}
alien_0['color'] = 'green'
alien_0['points'] = 5
print(alien_0)

{'color': 'green', 'points': 5}

In [ ]:
#Modifier les valeurs d'un dictionnaire
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
# Changer les clés et leurs valeurs 
alien_0['color'] = ['red','blue']
alien_0['points'] = 10
print(alien_0)

{'color': 'green', 'points': 5}
{'color': ['red', 'blue'], 'points': 10}

## 3.Boucles

### 3.1 Boucle for

In [ ]:
animaux = ['girafe','tigre','singe','souris']
print(animaux[0])
print(animaux[1])
print(animaux[2])
print(animaux[3])

girafe
tigre
singe
souris

In [ ]:
# les : et l’indentation sont formellement requis en Python.
for elt in animaux:
    print(elt)

girafe
tigre
singe
souris

In [ ]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [ ]:
for i in range(4):
    print(i)

0
1
2
3

L’instruction range() est une fonction spéciale en Python qui va nous permettre de générer des nombres entiers compris dans un intervalle

In [ ]:
animaux = ['girafe','tigre','singe','souris']
#Itération sur les indices
for i in range(len(animaux)):
    print(animaux[i])

girafe
tigre
singe
souris

In [ ]:
# les : et l’indentation sont formellement requis en Python.
for elt in animaux:
    print(elt)

girafe
tigre
singe
souris

In [ ]:
# les : et l’indentation sont formellement requis en Python.
for animal in animaux:
    print(animal)

girafe
tigre
singe
souris

In [ ]:
[0,1,2,3,4]

[0, 1, 2, 3, 4]

In [ ]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [ ]:
#Itérer sur le dictionnaire
fav_numbers = {'eric': 17, 'ever': 4}
for name, number in fav_numbers.items():
    print(name + ' has ' + str(number) +' cars')

eric has 17 cars
ever has 4 cars

In [ ]:
#Itérer sur toutes les clés
fav_numbers = {'eric': 17, 'ever': 4}
for name in fav_numbers.keys():
    print(name + ' loves cars')

eric loves cars
ever loves cars

In [ ]:
#Itérer sur toutes les valeurs
fav_numbers = {'eric': 17, 'ever': 4}
for number in fav_numbers.values():
    print(number, 'is a favorite')

17 is a favorite
4 is a favorite

### Boucle While

In [ ]:
i = 1
while i <= 4:
    print(i)
    i = i + 1
print('aprés modification',i)

1
2
3
4
aprés modification 5

## 4. Fonctions
Pour indiquer à l'interpréteur que vous voulez créer une fonction, vous utilisez le mot clé "def" suivi du nom de la fonction puis de parenthèses, contenant les paramètres et ensuite d'un double point.

def nom_de_la_fonction(parametre1, parametre2, parametre3, parametreN):
    # Bloc d'instructions

On remarque également qu'il y a un espace entre les 2 points et le mot clé "return", il s'agit d'une indentation , c'est à dire un espace qui améliore non seulement la lecture de la fonction mais qui indique que nous sommes toujours dans la fonction.

In [ ]:
def carre(x):
    return x**2
carre(6)

36

In [ ]:
def hello():
    print("Bonjour")

hello()

Bonjour

In [ ]:
# Passage d’arguments
def fois(x,y):
    return x*y

#print(fois(2,5))
fois(4,4)

16

In [ ]:
def carre_cube(x):
    return x**2,x**3

y,n=carre_cube(3)
print(y,n)

9 27

In [ ]:
#Affichage des résultats
def carre_cube(x):
    return x**2,x**3

carre_cube(3)

(9, 27)

In [ ]:
def carre_cube2(x):
    return [x**2,x**3]

temp=carre_cube2(3)
print(temp)

[9, 27]
45
135

In [ ]:
#Fonction avec argument prédéfini
def useless_fct(x=1):
    return x

print(useless_fct())

print(useless_fct(10))

1
10

### Fonction anonyme Lambda
Syntaxe:  lambda arguments : expression

In [ ]:
def useless_fct(x):
    return x + 10

useless_fct(5)

15

In [ ]:
a = lambda x : x + 10
print(a(5))

15

In [ ]:
#Exemple de la fonction anonyme Lambda
def incrementer(n):
    return lambda x:x**n
result=incrementer(2) #Fixer n
result(3) # Définir l'argument x

9

In [ ]:
#Ordonner les élément d'une liste de tuplets en utilisant la fonction lambda
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [ ]:
def my_function():
    """Do nothing, but document it.

     No, really, it doesn't do anything.
     """
    print('Doing nothing')
    pass

#print( my_function.__doc__)
my_function()

Doing nothing

## Set

In [ ]:
#Créer un Set:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

In [ ]:
#Véifier si l'élément "banana" est présent dans le set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
1 in (1,2,8)

True

In [ ]:

thisset = {"apple", "banana", "cherry"}
#Ajouter un nouvel élèment 
thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
# vérifier la taille du set
print(len(thisset))

3

In [ ]:
#Supprimer l'élément "banana" en utilisant la fonction remove():
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [ ]:
#Exemple d'utilisation des sets : Concept de set compréhension pour optimiser le code
a = {x for x in 'abracad' if x not in 'abc'}
a

{'d', 'r'}

In [ ]:
#Liste de compréhension permet d'optimier le code
squares=[x**2 for x in range(1,9)] #[1,2,3,4,5,6,7,8]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64]